node_modules
db-logs
compiled
logs
.env*
.env.*
*.key
*.crt
*.csr
*.cer
!ecosystem.example.config.js
*vscode/launch.json
scripts/**
!scripts/dbMigrateConnect.js
!scripts/migrateDown.js
!scripts/migrateUp.js
!scripts/migrateMake.sh
DOC.pdf
